In [2]:
#10 years of MSFT Data, Close Price, Daily Returns, Daily Volume, 20 Day MA

import pandas as pd
import yfinance as yf

stock = 'MSFT'
df = yf.download(stock,'2010-12-01', '2020-12-02')

df['Daily Returns'] = df['Close'].pct_change()
df['20 Day MA'] = df['Close'].rolling(window = 20).mean()

df.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,20 Day MA
Date,,,,,,,,
2020-11-24,209.589996,214.250000,208.860001,213.860001,213.860001,33979700,0.017848,212.473999
2020-11-25,215.110001,215.289993,212.460007,213.869995,213.869995,21012900,0.000047,213.033499
2020-11-27,214.850006,216.270004,214.039993,215.229996,215.229996,14512200,0.006359,213.558999
2020-11-30,214.100006,214.759995,210.839996,214.070007,214.070007,33064800,-0.005390,214.138999
2020-12-01,214.509995,217.320007,213.350006,216.210007,216.210007,30904500,0.009997,214.832999